
<!--Los siento no he sabido poner cada tabla en una opcion del select-->

<h2>Delecteus aut autem</h2>
<select class="form-select" aria-label="Default select example">
  <option selected>Elige una opción</option>
  <option value="1">Clientes con ID impar</option>
  <option value="2">Clientes con ID par</option>
  <option value="3">Todos los contactos</option>
</select>
<div *ngIf="todos!"></div>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <td>UserId</td><td>id</td><td>title</td><td>completed</td>
    </tr>
    <tr *ngFor="let item of todos">
      <td>{{item.userId}}</td>
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.completed}}</td>
    </tr>
  </thead>
</table>

