<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Beatriz Rodriguez Bejarano</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.linkedin.com/in/beatriz-rodr%C3%ADguez-bejarano-91434494/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
          <img src="./assets/linkedin.png"/>

        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
  </footer>
